#tabs {
    display: flex;
    list-style-type: none;
  }
  
  #tabs li {
    width: 60px;
    margin-inline: 1em;
    padding: 0.75em;
    border: 1px solid cornflowerblue;
    text-align: center;
    cursor: pointer;
  }
  
  #tabs li:hover {
    background-color: aliceblue;
  }